body{
    background-color: rgb(243, 208, 144);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://img.theculturetrip.com/1024x/smart/images/56-3701450-780px-claude-monet-impression-soleil-levant-1872.jpg);
    background-position: center;
}

h3{
   color: rgb(143, 219, 0);
   font-size: 220%;
}
p{
    color: rgb(145, 0, 0);
    font-size: 220%;
    
}
header{
    text-align: center;
    font-size: 400%;
}
ol{
    color: rgb(255, 170, 72);
    font-style: italic;
    font-size: 150%;
 
}
ul{
    color: rgb(235, 198, 245);
    font-style: italic;
    font-size: 150%;
    font-style: oblique;
}
header{
    color: rgb(51, 5, 5);
    font-style: italic;;
}

h4{
    font-size: 200%;
    color: rgb(50, 200, 205);
}
