body{
    background-color: rgb(243, 208, 144);
}

h3{
   color: violet;
}
p{
    color: teal;
}
header{
    text-align: center;
    font-size: 400%;
}
ol{
    color: rgb(110, 29, 29);
 
}
ul{
    color: royalblue;
}
header{
    color: rgb(109, 109, 109);
}
