body{
    background-color: rgb(243, 208, 144);
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf5f3ZOGtXY--7Hdi4iTgAOlgo_gF2GeYH15jAZDAm7iidb-gE);
}

h3{
   color: violet;
}
p{
    color: black;
}
header{
    text-align: center;
    font-size: 400%;
}
ol{
    color: rgb(110, 29, 29);
 
}
ul{
    color: royalblue;
}
header{
    color: rgb(109, 109, 109);
}
